* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
}

.udeBTN-red {
  background-color: #ec5252;
  border: 1px solid #ec5252;
  padding: 11px 12px;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.udeBTN-red:hover {
  color: #fff;
  border-color: #992337;
  background-color: #992337;
}

.udeBTN-white {
  background-color: #fff;
  border: 1px solid #686f7a;
  padding: 11px 12px;
  border-radius: 2px;
  color: #686f7a;
  font-size: 15px;
  font-weight: 700;
}

.udeBTN-white:hover {
  color: #29303b;
  border-color: #29303b;
  background-color: #fff;
}

.header__left {
  display: flex;
  align-items: center;
  color: #505763;
  font-size: 13px;
  font-weight: normal;
}

.header__left .navbar-brand {
  flex-grow: 0;
}

.header__left .navbar-brand img {
  width: 110px;
}

.header__left .header__cate {
  flex-grow: 0;
  margin-right: 5px;
}

.header__left .header__form {
  flex-grow: 1;
}

.header__left .header__form .form-control {
  background-color: rgba(20, 23, 28, 0.051);
  border: none;
  transition: none;
}

.header__left .header__form .form-control:focus {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid #dedfe0;
  border-right-color: transparent;
}

.header__left .header__form .form-control:focus + .input-group-append .input-group-text {
  color: #ec5252;
  background-color: #fff;
  border: 1px solid #dedfe0;
  border-left-color: transparent;
}

.header__left .header__form .form-control:focus + .input-group-append:hover .input-group-text {
  color: #fff;
  background-color: #ec5252;
}

.header__left .header__form .input-group-append {
  margin-left: 0px;
  cursor: pointer;
}

.header__left .header__form .input-group-append .input-group-text {
  background-color: rgba(20, 23, 28, 0.051);
  border: none;
  border-right: 1px solid rgba(20, 23, 28, 0.051);
  color: #ec5252;
}

.header__left .header__form .input-group-append:hover .input-group-text {
  color: #fff;
  background-color: #ec5252;
}

.header__right .navbar-nav {
  justify-content: space-between;
}

.header__right .navbar-nav .nav-item {
  align-self: center;
}

.header__right .navbar-nav .nav-item .nav-link {
  color: #505763;
  font-size: 13px;
  font-weight: normal;
}

.header__right .navbar-nav .nav-item:hover {
  background-color: rgba(20, 23, 28, 0.051);
}

.header__right .navbar-nav .nav-item:nth-child(3) {
  border-radius: 50%;
}

@media screen and (max-width: 1200px) {
  .header__right .navbar-nav .business, .header__right .navbar-nav .teach {
    display: none;
  }
}

.udeCarousel {
  background-image: url("../img/cover.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}

.udeCarousel .udeCarousel__content {
  position: absolute;
  top: 30%;
  left: 5%;
  max-width: 460px;
}

.udeCarousel .udeCarousel__content h1 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.udeCarousel .udeCarousel__content p {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}

.udeCarousel .udeCarousel__content .input-group .form-control {
  padding: 20px;
  border-radius: 0px;
  border: none;
  color: #29303b;
  font-size: 20px;
  font-weight: normal;
}

.udeCarousel .udeCarousel__content .input-group .form-control::placeholder {
  color: #a1a7b3;
  font-size: 20px;
  font-weight: normal;
}

.udeCarousel .udeCarousel__content .input-group .form-control:focus {
  box-shadow: none;
}

.udeCarousel .udeCarousel__content .input-group .input-group-append .input-group-text {
  background-color: #fff;
  color: #ec5252;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
}

.udeCarousel .udeCarousel__content .input-group .input-group-append:hover .input-group-text {
  background-color: #ec5252;
  color: #fff;
}

@media screen and (max-width: 576px) {
  .udeCarousel .udeCarousel__content {
    max-width: 60%;
  }
  .udeCarousel .udeCarousel__content h1 {
    color: #fff;
    font-size: 24px;
    font-weight: normal;
  }
  .udeCarousel .udeCarousel__content .input-group .form-control {
    color: #29303b;
    font-size: 15px;
    font-weight: normal;
  }
  .udeCarousel .udeCarousel__content .input-group .form-control::placeholder {
    color: #a1a7b3;
    font-size: 15px;
    font-weight: normal;
  }
}

.intro {
  background: linear-gradient(to right, #6e1a52, #ec5252);
}

.intro .intro__content {
  margin: 0px 25px;
}

.intro .intro__content .intro__item {
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.2;
}

.intro .intro__content .intro__item .icon {
  color: #fff;
  font-size: 47px;
  font-weight: normal;
  margin-right: 16px;
  margin-top: -2px;
}

.intro .intro__content .intro__item .icon__content {
  padding-top: 5px;
}

.intro .intro__content .intro__item .icon__content p:first-child {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 0px;
}

.intro .intro__content .intro__item .icon__content p:last-child {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 0px;
}

.services {
  background-color: #f2f3f5;
  margin-bottom: 16px;
  padding: 24px 0px;
}

.services .services__item {
  padding: 24px;
  border: 1px solid #e8e9eb;
  background: #fff;
  height: 100%;
}

.services .services__item .service__icon {
  margin-right: 16px;
}

.services .services__item .service__content {
  padding-top: 5px;
}

.services .services__item .service__content p:first-child {
  color: #29303b;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 4px;
}

.services .services__item .service__content p:last-child {
  color: #686f7a;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0px;
}

.banner {
  margin-bottom: 32px;
}

.banner .top__border {
  background: linear-gradient(-45deg, #ec5252, #6e1a52);
  height: 8px;
}

.banner .banner__content {
  background-color: #29303b;
  color: #fff;
  align-items: center;
  height: 360px;
  text-align: center;
}

.banner .banner__content .banner__item {
  padding: 0px;
  justify-self: center;
}

.banner .banner__content .banner__item i {
  font-size: 32px;
  font-weight: 600;
  justify-items: center;
}

.banner .banner__content .banner__item .getStarted h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  white-space: nowrap;
}

.banner .banner__content .banner__item .getStarted p {
  margin-bottom: 25px;
  color: #F7F8FA;
  font-size: 15px;
  font-weight: normal;
}

.banner .banner__content .banner__item .getStarted__out {
  position: relative;
}

.banner .banner__content .banner__item .getStarted__out i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner .banner__content .banner__item:first-child, .banner .banner__content .banner__item:last-child {
  padding: 44px 0px 32px;
}

@media screen and (max-width: 992px) {
  .banner .banner__content .banner__item i {
    visibility: hidden;
  }
}

.topCategories {
  margin: 25px;
  padding: 0px 16px;
}

.topCategories .title {
  color: #29303b;
  font-size: 24px;
  font-weight: 700;
}

.topCategories .cate__item .cate {
  padding: 15px;
  margin: 8px 0px;
  cursor: pointer;
  position: relative;
  border: none;
  box-shadow: none;
}

.topCategories .cate__item .cate::before, .topCategories .cate__item .cate::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: .2s ease;
  pointer-events: none;
}

.topCategories .cate__item .cate::before {
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
  opacity: 1;
}

.topCategories .cate__item .cate::after {
  opacity: 0;
  box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
}

.topCategories .cate__item .cate:hover::before {
  opacity: 0;
}

.topCategories .cate__item .cate:hover::after {
  opacity: 1;
}

.topCategories .cate__item .cate a {
  text-decoration: none;
  display: flex;
}

.topCategories .cate__item .cate a .cate__icon {
  color: #14171c;
  font-size: 32px;
  font-weight: 600;
  padding-right: 16px;
}

.topCategories .cate__item .cate a .cate__text {
  color: #14171c;
  font-size: 15px;
  font-weight: normal;
  align-self: center;
}

.partners {
  background-color: #F7F8FA;
}

.partners .partner__top {
  text-align: center;
  padding-bottom: 24px;
}

.partners .partner__top .text {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
  padding-top: 16px;
}

.partners .partner__top .partner__logos {
  display: flex;
  flex-wrap: wrap;
  padding-top: 32px;
  justify-content: center;
}

.partners .partner__top .partner__logos .logo__item {
  display: block;
  margin: 0px 32px 8px;
}

.partners .partner__bottom {
  padding-bottom: 22px;
}

.partners .partner__bottom .item {
  display: block;
  padding: 28px 30px;
  text-align: center;
}

.partners .partner__bottom .item p {
  color: #29303b;
  font-size: 16px;
  font-weight: normal;
  padding-top: 3px;
  max-width: 400px;
  margin: 0px auto;
}

.partners .partner__bottom .item p:first-child a {
  text-decoration: none;
  color: #505763;
  font-size: 19px;
  font-weight: 700;
}

.partners .partner__bottom .item button {
  margin-top: 15px;
}

.partners .partner__bottom .item:first-child {
  border-right: 1px solid #dedfe0;
}

footer .footer__top {
  padding: 0px 20px;
  margin-top: 40px;
  margin-bottom: 30px;
}

footer .footer__top .left ul.footer__links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 110px;
  list-style: none;
  margin: 0px;
}

footer .footer__top .left ul.footer__links li {
  padding-bottom: 5px;
}

footer .footer__top .left ul.footer__links li a {
  color: #007791;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
}

footer .footer__top .left ul.footer__links li a:hover {
  color: #003845;
}

footer .footer__top .left ul.footer__links li.highlight a {
  color: #007791;
  font-size: 13px;
  font-weight: 700;
}

footer .footer__top .right ul.dropdown-menu {
  transform: translate3d(0px, -516px, 0px) !important;
}

footer .footer__top .right ul.dropdown-menu li > a {
  text-decoration: none;
  color: #505763;
  font-size: 13px;
  font-weight: normal;
  display: block;
  padding: 5px 12px;
}

footer .footer__top .right ul.dropdown-menu li > a:hover {
  background-color: #f2f3f5;
}

footer .footer__top .right button.btn {
  background-color: #fff;
  border: 1px solid #686f7a;
  padding: 10px 10px;
  border-radius: 2px;
  color: #686f7a;
  font-size: 13px;
  font-weight: 700;
  padding-right: 26px;
}

footer .footer__top .right button.btn i {
  margin: 0px 10px;
}

footer .footer__top .right button.btn span {
  margin-right: 10px;
}

footer .footer__top .right button.btn:hover {
  border-color: #29303b;
  color: #29303b;
  font-size: 13px;
  font-weight: 700;
}

footer .footer__top .right button.btn:focus {
  box-shadow: none;
  background-color: #f2f3f5;
}

footer .footer__bottom {
  padding: 30px 20px;
}

footer .footer__bottom .copyright {
  display: flex;
}

footer .footer__bottom .copyright a {
  margin-right: 25px;
}

footer .footer__bottom .copyright a img {
  width: 110px;
}

footer .footer__bottom .copyright p {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
  padding-top: 6px;
}

footer .footer__bottom .term ul {
  list-style: none;
}

footer .footer__bottom .term ul li {
  display: inline-block;
  padding: 6px;
}

footer .footer__bottom .term ul li a {
  text-decoration: none;
  color: #007791;
  font-size: 13px;
  font-weight: normal;
}

footer .footer__bottom .term ul li a:hover {
  color: #003845;
  font-size: 13px;
  font-weight: normal;
}

footer hr {
  margin: 0px;
}

footer hr.hr__style {
  margin: 0px;
  border-top: 6px solid #ec5252 !important;
}
/*# sourceMappingURL=main.css.map */