.owl-item{
    cursor: pointer;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    &:hover{
        box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
    }
}
.owl-prev, .owl-next{
    position: absolute;
    top: 33%;
    left: -3%;
    width: 45px;
    height: 45px;
    border-radius: 50%!important;
    background: $color-white-0!important;
    z-index: 3;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    transition: all 0.3s;
    span{
        @include styleText($color-blue, $fs-5, $fw-normal);
        line-height: 0.6;
    }
    &:focus{
        outline: none;
    }
    &:hover{
        box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
    }
}
.owl-next{
    left: unset;
    right: -3%;
}
.owl-dots{
    button.owl-dot{
        outline: none;
        &:focus{
            outline: none;
        }
    }
}

.student__course.owl-carousel{
    .owl-prev, .owl-next{
        left: -2%;
    }
    .owl-next{
        left: unset;
        right: -2%;
    }
}
.feedback__item.owl-carousel{
    .owl-item{
        cursor: auto;
        box-shadow: none;
        &:hover{
            box-shadow: none;
        }
    }
    .owl-prev, .owl-next{
        left: -2%;
    }
    .owl-next{
        left: unset;
        right: -2%;
    }
}

.service__carousel.owl-carousel{
    .owl-item{
        cursor: auto;
        box-shadow: none;
        &:hover{
            box-shadow: none;
        }
    }
}